altair==5.5.0
appdirs==1.4.4
asttokens==3.0.0
attrs==25.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
bs4==0.0.2
cachetools==5.5.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.8
colorama==0.4.6
comm==0.2.2
cssselect==1.2.0
debugpy==1.8.13
decorator==5.2.1
executing==2.2.0
fake-useragent==2.0.3
feedparser==6.0.11
frozendict==2.4.6
gitdb==4.0.12
GitPython==3.1.44
html5lib==1.1
idna==3.10
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
lxml==5.3.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
multitasking==0.0.11
narwhals==1.30.0
nest-asyncio==1.6.0
numpy==2.2.0
packaging==24.2
pandas==2.2.3
pandas-datareader==0.10.0
parse==1.20.2
parso==0.8.4
peewee==3.17.8
pillow==11.1.0
platformdirs==4.3.6
plotly==6.0.0
prompt_toolkit==3.0.50
protobuf==5.29.3
psutil==7.0.0
pure_eval==0.2.3
pyarrow==19.0.1
pydeck==0.9.1
pyee==11.1.1
Pygments==2.19.1
pyppeteer==2.0.0
pyquery==2.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32==309
pyzmq==26.3.0
referencing==0.36.2
requests==2.32.3
requests-html==0.10.0
rpds-py==0.23.1
sgmllib3k==1.0.0
six==1.17.0
smmap==5.0.2
soupsieve==2.6
stack-data==0.6.3
streamlit==1.43.2
tenacity==9.0.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
w3lib==2.2.1
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==10.4
yahoo-fin==0.8.9.1
yfinance==0.2.50
zipp==3.21.0
